* {
      padding: 0;
      margin: 0; 
      box-sizing: border-box;
      font-family: sans-serif;
  }
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #000;
      position: relative;
  }
  
  #backimage {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
  }
  
  .container {
      width: 500px;
      border-radius: 15px;
      text-align: center;
      background-color: rgb(65, 64, 64);
      display: flex;
      flex-direction: column;
      align-items: center; 
      padding: 20px;
      box-shadow: 0 0 10px rgba(20, 20, 20, 0.5);
  }
  
  .tt1 {
      width: 80%;
      margin-bottom: 20px;
  }
  
  h1 {
      color: #fff;
      margin-bottom: 20px;
  }
  
  form {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      width: 100%;
  }
  
  .dat1, #user {
      color: #fff;
      font-size: 13px;
      margin: 10px 0;
      text-align: left; 
      width: 80%;
  }
  
  #nomeuser, #senha {
      width: 80%;
      padding: 10px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;
      margin-bottom: 10px; 
  }
  
  .genero {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }
  
  input[type="radio"] {
      margin: 0 5px;
  }
  
  #tttt {
      font-size: 20px;
      color: #fff;
      margin-bottom: 20px;
  }
.submit-btn {
      width: 80%;
      padding: 10px;
      background-color: #ffffff; 
      color: rgb(0, 0, 0);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px; 
}
  
.submit-btn:hover {
      background-color: #000000; 
      color: white;
}